@model CommentViewModel

<form asp-action="AddComment" method="post">
    <input asp-for="PostId"/>
    <label asp-for=Text>Add comment:</label>
    <br />
    <textarea asp-for="Text" rows="4" cols="50">Enter comment here...</textarea>
    <input type="submit" value="Send" />
</form>
