@model SignInViewModel


<div id="modal" class="modal">
    <div class="modal-content">
         <button onclick="btnClose()" class="closeBtn">x</button>
        <form asp-controller="User" asp-action="SignIn" method="post" class="signInForm">
           <div>
               <label asp-for="Login"></label>
               <span asp-validation-for="Login"></span>
               <input asp-for="Login" type="text"/>
           </div>
           <br />
           <div>
               <label asp-for="Password" ></label>
               <span asp-validation-for="Password"></span>
               <input asp-for="Password" type="password"/>
           </div>
           <input type="submit" value="Sign In" />           
        </form>
    </div>
</div>


