body {
    margin: 0;
    overflow-x: hidden;
    padding-top: 3px;
    background-color: rgb(5,28,42);
    font-family: Arial;
}

div{
    box-sizing: border-box;
}

.img-post {
    height: 160px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    height: 250px;
    background-image: url("https://api.pixonic.com/uploads/ckeditor/pictures/187/content_HABR-LOGO.jpg");
    background-size: 70%;
    background-position: center;
    padding-top: 150px;
}

.icon {
    height: 25px;
    width: 25px;
    margin-top: 10px;
}

.logBtn {
    position: absolute;
    right: 50px;
    top: 15px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(41,131,169);
    border: none;
}

.logBtn:hover{
    cursor: pointer;
}

.myPageBtn {
    position: absolute;
    right: 150px;
    top: 15px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(41,131,169);
}

.page {
    margin: 0 auto;
    width: 66%;
    background-color: white;
    padding: 15px;
}

.content {
    text-align: center;
    position: relative;
}

.btn {
    background-color: rgb(5,28,42);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    text-decoration: none;
    position: absolute;
    bottom: 2px;
}

.title {
    text-decoration: none;
    color: rgb(41,131,169);
    font-size: 25px;
}

.post_info {
    display: flex;
    flex-direction: row;
    height: 35px;
}

.post_info  *{
    padding-left: 5px;
}

.modal {
    display: none;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.modal-content {
    padding: 10px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-image: url("/images/Font.png");
    border: 1px solid rgb(41,131,169);
}

.signin {
    width: 310px;
    height: 225px;
}

.newpost {
    width: 630px;
    height: 735px;
}

.closeBtn {
    position: absolute;
    top: 2px;
    right: 2px;
    border: none;
    background-color: transparent;
    outline: none;
    color: rgb(41,131,169);
}

.signInForm {
    margin-top: 25px;
    height: 170px;
    position: relative;
}

.signInForm input[type=submit] {
    display: block;
    position: absolute;
    left: 112px;
    bottom: 5px;
}

.signInForm div {
    height: 45px;
    position: relative;
}

.signInForm div > label {
    position: absolute;
    left: 5px;
    top: 20px;
    color:white;
}

.signInForm div > input[type=text], input[type=password] {
    position: absolute;
    right: 5px;
    top: 20px;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px #edeceb inset;
}

/*h1 {
    color: rgb(5,28,42);
}*/

h2 {
    color: rgb(41,131,169);
}

.imgPost {
    width: 543px;
}

.newPostForm label{
    color: white;
}

.signInForm .field-validation-error {
    position: absolute;
    right: 8px;
    color: rgb(41,131,169);
}

.newPostForm .field-validation-error {
    position: absolute;
    right: 40px;
    color: rgb(41,131,169);
}

.newPostForm label{
    position:absolute;
    left:30px;
}

.newPostForm div {
    position:relative;
}

.newPostForm input[type=submit] {
    display: block;
    margin: 0 auto;
}

.comment-box {
    max-width: 450px;
    padding-left: 5px;
    background-color: #DADADA;
    border: 4px solid #ccc;
    word-wrap: break-word;
}

.addcomment-box {
    margin-top: 10px;
}

.addcomment-box textarea {
    border: 4px solid #ccc;
}

.addcomment-box {
    position: relative;
    width: 450px;
}

.addcomment-box .field-validation-error {
    position: absolute;
    right: 5px;
    color: rgb(41,131,169);
}

.addcomment-box label {
    position: absolute;
    left: 5px;
}

.email-link {
    text-decoration: none;
    color: rgb(41,131,169);
    padding-top: 16px;
}