@model User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h1>@Model.Email</h1>
    <img src="@Model.Avatar" />
    <h3>My posts</h3>
    @{Html.RenderPartial("Posts", Model.Posts);}
    <br />

    @*@Html.ActionLink("Add post", "NewPost", "Post");*@

    @Html.ActionLink("+", "NewPost", "Post", null, htmlAttributes: new { @class = "btn" })
</div>
