@model User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>@Model.Email</h2>
    <img src="@Model.Avatar" />
    <h2>My posts</h2>
    @{Html.RenderPartial("Posts", Model.Posts);}
    <br />

    <a href='#' onclick="btnModalOpen()" class="btn">+</a>

    @Html.Partial("NewPostModalView", new NewPostViewModel())

    <script>
        function btnModalOpen() {
            document.getElementById('modalPost').style.display = "block";
        }

        function btnModalClose() {
            document.getElementById('modalPost').style.display = "none";
        }
    </script>
</div>
